.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F6D697;
    padding: 8px 30px;
}
.logo{
    width: 60px;
    height: 50px; 
    overflow: hidden;
    margin-left: 300px;
    vertical-align: middle;
    white-space:nowrap;
}
.profile{
    width: 60px;
    height: 50px; 
    border-radius: 70%;
    overflow: hidden;
}
.navbar_logo {
    font-family: 24px;
    color: white;
    font-size: 30px;
    font-weight: bold;
}
.navbar_menu li:hover{
    background-color: #FDF3D1;
    border-radius: 50px;
}
.navbar_menu a:hover {
    color: white;
    border-radius: 4px;
}
.navbar_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding-left: 0;
    font-weight: bold;
    font-size: 20px;
    margin-right: 300px;
    white-space:nowrap;
}
.navbar_menu li{
    padding: 8px 12px;
}
.navbar_toggleBtn{
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
    color: white;
}
.story{
    width: 100px;
    margin: auto;
    display: block;
    margin-top: 100px;
    text-align: center;
    width: 500px;
    height: 30px;
    border-radius: 30px;
    background-color: #FFF9E3;
    border: none;
    box-shadow: 5px 5px 5px rgb(145, 145, 145);
    color: #F6D697;
}
.communi-box{
    width: 450px;
    height: 100px;
    border-radius: 10px;
    background-color: #FFF9E3;
    border-radius: 30px;
    text-align: left;
    padding-top: 20px;
    padding-left: 45px;
    margin-left: 250px;
    margin-top: 50px;
    vertical-align: middle;
}
.heart {
   padding-left: 160px;
   width: 45px;
   height: 45px;
   padding-top: 15px;
   object-fit: contain;
   vertical-align: middle;
}
.communi {
    width: 55px;
    height: 55px;
    padding-left: 20px;
    padding-top: 15px;
    object-fit: contain;
    vertical-align: middle;
 }
.input{
    background-color: #FFF9E3;
    width: 260px;
    height: 25px;
    border-radius: 30px;
    border: none;
    margin-left: 40px;
    vertical-align: middle;
    white-space:nowrap;
}
.group {
    margin-left: -30px;
    border-radius: 30px;
    border : none;
    background-color: #FFF9E3;
    
}
@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding-left: 8px 24px;
    }
    .logo{
        display: none;
    }
    .navbar_menu {
        display: none;
        flex-direction: column;
        margin-right: 500px;
        
        width: 100%;
    }
    .navbar_menu li {
        width: 100%;
        text-align: center;
    }
    .navbar_toggleBtn {
        display: block;
    }

    .navbar_menu.active {
        display: flex;
    }
   
}