.post {
  cursor: pointer;
  background-color: #fff9e3;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 3rem;
  border: 1px solid #fff9e3;
  width: 1000px;
  height: 50px;
  box-shadow: 1px 1px 2px 3px rgb(216, 213, 187);
}
.box {
  cursor: pointer;
  background-color: #fff9e3;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 3rem;
  border: 1px solid #fff9e3;
  width: 1000px;
  height: 200px;
  box-shadow: 1px 1px 2px 4px rgb(216, 213, 187);
}
