.postingBtn {
    width: 100px;
    margin: auto;
    display: block;
    margin-top: 100px;
    width: 500px;
    height: 30px;
    border-radius: 30px;
    background-color: #FFF9E3;
    text-align: center;
    text-decoration: none;
    box-shadow: 5px 5px 5px rgb(145, 145, 145);
    color: #F6D697;
}
.communi-box{
    width: 450px;
    height: 100px;
    border-radius: 10px;
    background-color: #FFF9E3;
    border-radius: 30px;
    text-align: left;
    padding-top: 20px;
    padding-left: 45px;
    margin-left: 250px;
    margin-top: 50px;
    vertical-align: middle;
}
.heart {
   padding-left: 160px;
   width: 45px;
   height: 45px;
   padding-top: 15px;
   object-fit: contain;
   vertical-align: middle;
}
.communi {
    width: 55px;
    height: 55px;
    padding-left: 20px;
    padding-top: 15px;
    object-fit: contain;
    vertical-align: middle;
 }
.input{
    background-color: #FFF9E3;
    width: 260px;
    height: 25px;
    border-radius: 30px;
    border: none;
    margin-left: 40px;
    vertical-align: middle;
    white-space:nowrap;
}
.group {
    margin-left: -30px;
    border-radius: 30px;
    border : none;
    background-color: #FFF9E3;
    
}