.postingBtn {
    width: 100px;
    margin: auto;
    display: block;
    margin-top: 100px;
    width: 500px;
    height: 30px;
    border-radius: 30px;
    background-color: #FFF9E3;
    text-align: center;
    text-decoration: none;
    box-shadow: 5px 5px 5px rgb(145, 145, 145);
    color: #F6D697;
}
.heart_tip {
    padding-left: 160px;
    height: 45px;
    padding-top: 15px;
    object-fit: contain;
    vertical-align: middle;
 }
.communi_bx{ 
    background-color:#FFF9E3;
    border-radius: 10px;
    height: 350px;
    margin: 200px;
    text-align: center;
    box-shadow: 5px 5px 5px rgb(145, 145, 145);}
.communi_tip{
    width: 1000px;
    margin-top: 270px;
    border-color: rgb(193, 200, 207);
    border-radius: 10px;
}