body {
    margin: 0;
    background-color: #FDF3D1;
}
a {
    text-decoration: none;
    color: white;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F6D697;
    padding: 8px 30px;
}
.logo{
    width: 60px;
    height: 50px; 
    overflow: hidden;
    margin-left: 300px;
    vertical-align: middle;
    white-space:nowrap;
}
.mom{
    width: 60px;
    height: 50px; 
    border-radius: 70%;
    overflow: hidden;
}
.navbar_logo {
    font-family: 24px;
    color: white;
    font-size: 30px;
    font-weight: bold;
}
.navbar_menu li:hover{
    background-color: #FDF3D1;
    border-radius: 50px;
}
.navbar_menu a:hover {
    color: white;
    border-radius: 4px;
}
.navbar_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding-left: 0;
    font-weight: bold;
    font-size: 20px;
    margin-right: 300px;
    white-space:nowrap;
}
.navbar_menu li{
    padding: 8px 12px;
}
.navbar_toggleBtn{
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
    color: white;
}
table,th,tr{
    width: 800px;
    height: 50px;
    border: none;
    background-color: #F6D697;
    border-radius: 15px;
    margin-top: 20px;
    margin-left: 550px;
}
.group2{
    background-color: #F6D697;
    border: none;
    margin-top: 5px;
    margin-right:20px;
}
.text{
    width: 800px;
    height: 720px;
    border: none;
    border-radius: 15px;
    margin-left: 550px;
    background-color: #FFF9E3;

}
.up{
    border: none;
    width: 100px;
    color: white;
    border-radius: 5px;
    background-color: #F6D697;
    margin-left: 1040px;
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding-left: 8px 24px;
    }
    .logo{
        display: none;
    }
    .navbar_menu {
        display: none;
        flex-direction: column;
        margin-right: 500px;
        
        width: 100%;
    }
    .navbar_menu li {
        width: 100%;
        text-align: center;
    }
    .navbar_toggleBtn {
        display: block;
    }

    .navbar_menu.active {
        display: flex;
    }
}